.charts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.line-chart{
    max-width: 95%;
    margin: 0 auto;
    width: 99%;
    height: 300px;
}

.bar-chart{
    max-width: 15%;
    margin: 5%;
    width: 100%;
    height: 400px;
}

.doughnut-chart{
    max-width: 30%;
    margin-left: 10%;
    width: 100%;
    height: 400px;
}

.btn-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
    margin-top: 1rem;
}

.btn-active{
    background-color:rgb(63,81,181)!important;
    color: #eee!important;
}

.checkboxes-wrapper{
    min-width: 100%;
    text-align: center;
}

.checkboxes-wrapper label{
    font-size: 1.2rem;
    margin-left: 5px;
    margin-right: 10px;
}

@media(max-width: 1078px) {
    .line-chart,
    .bar-chart,
    .doughnut-chart
    {
        max-width: 90%;
        min-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}