.main {
  width: 400px;
  margin: 0 auto;
}

.main > div {
  margin: 15px 0;
}

.temp {
  width: 250px;
  height: 250px;
  background: yellowgreen;
}

.avatar {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.limit {
  margin-right: 20px;
  margin-bottom: 130px;
}
